@value colors: "../../styles/colors.css";
@value white from colors;

@value shadows: "../../styles/shadows.css";
@value drop from shadows;

.container {
  background-color: white;
  border-radius: 10px;
  box-shadow: drop;
}
