@value shadows: "../../styles/shadows.css";
@value drop from shadows;
@value purple from "../../styles/colors.css";
@value small from "../../styles/breakpoints.css";

.container {
  box-shadow: drop;
  padding: 7px 0;
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding-top: 3px;
  padding-bottom: 3px;
}

.logoContainer {
  display: flex;
  align-items: center;
}

.title {
  margin-left: 20px;
}

.progress {
  color: purple;
}

@media small {
  .inner {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .logo {
    display: none;
  }

  .title {
    margin-left: 0;
    font-size: 1em;
  }

  .progress {
    font-size: 0.9em;
  }
}
