@value medium, small from "../../styles/breakpoints.css";

.grid {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  padding: 20px 0;
}

@media medium {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media small {
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
