@value black, yellow from "../../../styles/colors.css";

.title {
  font-size: 48px;
  margin: 10px 0;
}

.card {
  padding: 0;
}

.container {
  padding: 20px;
}

.description {
  margin: 0;
}

.head {
  display: flex;
  justify-content: space-between;
}

.price {
  font-size: 28px;
  background-color: black;
  color: white;
  padding: 0 7px;
  padding-top: 1px;
  border-radius: 5px;
}

.footer {
  width: 100%;
  text-align: center;
  padding: 10px 0;
  background-color: yellow;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.progress {
  margin: 0;
}